.center {
    width: 1000px;
    margin: 0 auto;
}
.fz14 {
    font-size: 14px;
}
.cRed {
    color: #FF3232;
}
/* 顶部 B */
.top {
    height: 47px;
    background-color: #E9E8E8;
}
.top .top_c {
    height: 47px;
    line-height: 47px;
}
/* 顶部 E */
/* logo B */
.logo {
    height: 99px;
    background-color: #C70202;
}
.logo .l_c {
    height: 99px;
}
.logo .l_left h1 a {
    display: inline-block;
    width: 221px;
    height: 97px;
    background: url(../images/logo.png) no-repeat;
    text-indent: -999em;
}
.logo .l_center {
    width: 296px;
    height: 28px;
    background-color: #fff;
    padding: 1px;
    margin-top: 34px;
    margin-left: 70px;
    border-radius: 5px;
}
.logo .l_center .txt {
    width: 236px;
    height: 28px;
    outline: none;
}
.logo .l_center .btn {
    width: 60px;
    height: 28px;
    background-color: #C70202;
    color: #fff;
    border-radius: 0 5px 5px 0;
}
.logo .l_right {
    margin-top: 35px;
}
.logo .l_right li {
    float: left;
    height: 30px;
    line-height: 30px;
    margin-left: 20px;
}
.logo .l_right li a {
    color: #fff;
}
.logo .l_right input {
    width: 56px;
    height: 30px;
    font-size: 14px;
}
.logo .l_right li b {
    display: inline-block;
    width: 24px;
    height: 20px;
    background: url(../images/sprite.png) no-repeat;
    vertical-align: middle;
}
.logo .l_right  .sina {
    background-position: 0 -27px;
}
/* logo E */
/* 内容 B */

/* 内容 E */
/* foot B */
.foot {
    height: 273px;
    padding: 10px;
    background-color: #2f2f2f;
}
.foot  .f_border {
    height: 273px;
    border: 1px solid #FFD283;
    position: relative;
}
.foot  .f_border b {
    position: absolute;
    width: 17px;
    height: 17px;
    background: url(../images/circle.png);
}
.foot  .f_border .b1 {
    top: -1px;
    left: -1px;
    background-position: right bottom;
}
.foot  .f_border .b2 {
    top: -1px;
    right: -1px;
    background-position: left bottom;
}
.foot  .f_border .b3 {
    bottom: -1px;
    right: -1px;
    background-position: left top;
}
.foot  .f_border .b4 {
    bottom: -1px;
    left: -1px;
    background-position: right top;
}
.foot .f_left {
    margin-top: 55px;
    color: #ccc;
}
.foot .f_left li {
    height: 33px;
    line-height: 33px;
}
.foot .f_right {
    margin-top: 34px;
}
.foot .f_right li {
    width: 105px;
    height: 100px;
    background-color: blue;
    float: left;
    margin-left: 20px;
}
.foot .f_right li a {
    color: #666;
    text-align: center;
    display: inline-block;
}
.foot .f_right li s {
    margin-bottom: 10px;
    width: 105px;
    height: 105px;
    display: inline-block;
    background: url(../images/sprite.png) no-repeat -327px 0;
}
.foot .f_right li:nth-child(2) s {
    background-position: -327px  -120px;
}
.foot .f_right li:nth-child(3) s {
    background-position: -327px  -244px;
}
.foot .f_right li:nth-child(4) s {
    background-position: -327px  -366px;
}
/* foot E */
